<%-include ('cabecalho.ejs');%>

<form method="post">
    <input type="text" class="pesquisa" name="pesquisa">
    <select name="tipo"> 
        <option value="nome">Nome</option>
        <option value="email">Email</option>
    </select>
    <input type="submit" class="btn_pesquisa" value="pesquisar">
</form>
    <table>
        
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>SENHA</th>
            <th>FOTO</th>
            <th>EDITAR</th>
            <th>DELETAR</th>
          
        </tr>
        <% Usuarios.forEach(function(usuario){ %>
        <tr>
            <td><%=usuario._id%></td>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td> 
            <td><%=usuario.senha%></td>
            <td><%=usuario.foto%></td>
            <td><a href="/edt/<%=usuario._id%>">
                <img src="/imagens/lapis.png">
            </a></td>
            <td><a href="/del/<%=usuario._id%>">
                <img src="/imagens/lixeira.png">
            </a></td>
        </tr>
        <% }) %>
    </table>
</body>
</html> 
<%-include ('rodape.ejs');%>